<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>WAVING_Ensemble</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="/static/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
            <link rel="stylesheet" href="/static/css/ticker-style.css">
            <link rel="stylesheet" href="/static/css/flaticon.css">
            <link rel="stylesheet" href="/static/css/slicknav.css">
            <link rel="stylesheet" href="/static/css/animate.min.css">
            <link rel="stylesheet" href="/static/css/magnific-popup.css">
            <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="/static/css/themify-icons.css">
            <link rel="stylesheet" href="/static/css/slick.css">
            <link rel="stylesheet" href="/static/css/nice-select.css">
            <link rel="stylesheet" href="/static/css/style.css">
            <style>
                #high1 {font-size : 15pt; font-weight : bold}
                #high2 {font-size : 15pt; font-weight : bold}
                #high3 {font-size : 15pt; font-weight : bold}
                #high4 {font-size : 15pt; font-weight : bold}
                #high5 {font-size : 15pt; font-weight : bold}
                #high6 {font-size : 15pt; font-weight : bold}
                #high7 {font-size : 15pt; font-weight : bold}
                #high8 {font-size : 15pt; font-weight : bold}

                #high_1 {font-size : 10pt}
                #high_2 {font-size : 10pt}
                #high_3 {font-size : 10pt}
                #high_4 {font-size : 10pt}
                #high_5 {font-size : 10pt}
                #high_6 {font-size : 10pt}
                #high_7 {font-size : 10pt}
                #high_8 {font-size : 10pt}

                #t {font-weight : bold; font-size : 20pt;}

                #logo{
                    width:30px;
                    height:30px;
                }
                #logo:hover{
                    cursor:pointer;
                    transform:scale(1.1);
                    -o-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -webkit-transform:scale(1.1);
                    transition: transform .35s;
                    -o-transition: transform .35s;
                    -moz-transition: transform .35s;
                    -webkit-transition: transform .35s;

                #red {
                    width:50px;
                }
            </style>
   </head>

   <body>

    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li><img src="/static/img/icon/header_icon1.png" alt="">17ºc, Sunny </li>
                                        <li><img src="/static/img/icon/header_icon1.png" alt="">Monday, 15th March, 2021</li>
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="header-mid d-none d-md-block">
                   <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="index.html"><img src="/static/img/logo/logo3.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <li>
                                        <a href="/search_to_voice">
                                            <img src="/static/img/logo/mic2.png" alt="음성검색" id="logo">
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                    <div class="sticky-logo">
                                        <a href="index.html"><img src="/static/img/logo/logo.png" alt=""></a>

                                    </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>
                                        <ul id="navigation">

                                            <!-- <li><a href="categori.html">Category</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="latest_news.html">Latest News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="#">Pages</a> -->
                                                <ul class="submenu">
                                                    <li><a href="elements.html">Element</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="single-blog.html">Blog Details</a></li>
                                                    <li><a href="details.html">Categori Details</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                <!-- Trending Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-tittle">
                            <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                                    <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                                    <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">


{% if (MY_LIST_DICT| length) > 0 %}
    {% for i in range(0,1) %}
    <div class="trending-top mb-30">
        <a href="{{MY_LIST_DICT[i]['MY_LINK']}}" target="_blank">
        <div class="trend-top-img">

                <img src="{{MY_LIST_DICT[i]['MY_THUM']}}" alt="{{MY_LIST_DICT[i]['MY_TITLE']}}">


        </div>
        </a>
        <br>
        <div class="trend-top-cap">
                <h3>{{MY_LIST_DICT[i]['MY_TITLE']}}</h3> <br>
                <font size="2pt">{{MY_LIST_DICT[i]['MY_VCNT']}} {{MY_LIST_DICT[i]['MY_TIME']}}</font>
            </div>
    </div>
    {% endfor %}
                        <!-- Trending Bottom-->
                        <div class="trending-bottom">
                            <div class="row">

    {% for j in range(1,4) %}
    <div class="col-lg-4">
        <div class="single-bottom mb-35">
            <div class="trend-bottom-img mb-30">
                <a href="{{MY_LIST_DICT[j]['MY_LINK']}}" target="_blank">
                <img src="{{MY_LIST_DICT[j]['MY_THUM']}}" alt="{{MY_LIST_DICT[j]['MY_TITLE']}}">
                </a>
            </div>
            <div class="trend-bottom-cap">
                <h4>{{MY_LIST_DICT[j]['MY_TITLE']}}</h4> <br>
                <font size="2pt">{{MY_LIST_DICT[j]['MY_VCNT']}} {{MY_LIST_DICT[j]['MY_TIME']}}</font>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
                        </div>
                    </div>
                    <!-- Riht content  음성인식 후  -->
                    <div class="col-lg-4">

                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/dawoon.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color3" id="high5">Dawoon Lee</span>
                                <h4><a id="high_5">끈기와 성실함으로 무장한 리더</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/joohwan.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color2" id="high6">Joohwan Jeon</span>
                                <h4><a id="high_6">전체적인 흐름을 파악하여 합리적인 의견을 제시</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/yeonjae.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color4" id="high7">Yeonjae Yoo</span>
                                <h4><a id="high_7">참신한 아이디어로 새로운 관점 제시</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/jiwon.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1" id="high8">Jiwon Park</span>
                                <h4><a id="high_8">도전을 두려워 하지 않는 뛰어난 상황 적응력</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <!-- Trending Top -->
    <div class="trending-top mb-30">
        <div class="trend-top-img">
            <img src="/static/img/trending/ensamble_top.png" alt="">

            <div class="trend-top-cap">
                <h2><a href="details.html">"Many hands make light work"</a></h2>
            </div>
        </div>
    </div>

    <!-- Trending Bottom -->
        <span class="color1" id="t">About Article</span>
    <div class="trending-bottom">
        <div class="row">
            <div class="col-lg-4">
            <div class="single-bottom mb-35">
                <div class="trend-bottom-img mb-30">
                    <img src="https://image.news1.kr/system/photos/2020/12/10/4521610/article.jpg/dims/optimize" alt="">
                </div>
                <div class="trend-bottom-cap">
                    <br>

                    <h4><a href="details.html">현대엘리베이터 '모션 콜 버튼' 韓中서 잇따라 수주 성공</a></h4>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
                <div class="single-bottom mb-35">
                    <div class="trend-bottom-img mb-30">
                        <img src="https://cphoto.asiae.co.kr/listimglink/1/2021030908272321592_1615246043.jpg" alt="">
                    </div>
                    <div class="trend-bottom-cap">

                        <h4><h4><a href="details.html">G폐질환 인공지능(AI)으로 잡는다</a></h4></h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-bottom mb-35">
                    <div class="trend-bottom-img mb-30">
                        <img src="https://www.pharmnews.com/news/photo/202102/102767_54200_3756.jpg" alt="">
                    </div>
                    <div class="trend-bottom-cap">

                        <h4><a href="https://www.pharmnews.com/news/articleView.html?idxno=102767">새로운 변화의 바람이 부는 ‘임상 트렌드’…디지털 기술 융합 원격 임상플랫폼</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Riht content 음성인식 전 -->
                    <div class="col-lg-4">

                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/dawoon.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color3", id = 'high1'>Dawoon Lee</span>
                                <h4><a id = 'high_1'>끈기와 성실함으로 무장한 리더</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/joohwan.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color2", id = 'high2'>Joohwan Jeon</span>
                                <h4><a id = 'high_2'>전체적인 흐름을 파악하여 합리적인 의견을 제시</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/yeonjae.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color4", id = 'high3'>Yeonjae Yoo</span>
                                <h4><a id = 'high_3'>참신한 아이디어로 새로운 관점 제시</a></h4>
                            </div>
                        </div>
                        <div class="trand-right-single d-flex">
                            <div class="trand-right-img">
                                <img src="/static/img/trending/jiwon.png" alt="">
                            </div>
                            <div class="trand-right-cap">
                                <span class="color1", id = 'high4'>Jiwon Park</span>
                                <h4><a id = 'high_4'>도전을 두려워 하지 않는 뛰어난 상황 적응력</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    <!-- Trending Area End -->


	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="./assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- Breaking New Pluging -->
        <script src="./assets/js/jquery.ticker.js"></script>
        <script src="./assets/js/site.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>
<!--<script>
function windowOpen(url) {
    var myWindow = window.open(url, "영상보기", "width=1300,height=730");
    myWindow.document.write("<a href=# onClick='javascript:window.close()'>닫기</a>">);
}
</script>-->
    </main>
    </body>
</html>